<div id="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12npm s col-md">
                <img class="mb-2" src="/img/icon.png" alt="" width="100" height="100">
                <small class="d-block mb-3 text-muted">© 2021</small>
            </div>
            <div class="col-6 col-md">
                <h5><%=footer.h5_1%></h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/users/login/<%=footer.lang%>"><%=footer.ul1.li1%></a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/users/register/<%=footer.lang%>"><%=footer.ul1.li2%></a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/dashboard/<%=footer.lang%>"><%=footer.ul1.li3%></a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/users/survey/<%=footer.lang%>"><%=footer.ul1.li4%> </a></li>

                </ul>
            </div>
            <div class="col-6 col-md coll">
                <h5><%=footer.h5_2%></h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/importance/<%=footer.lang%>"><%=footer.ul2.li1%></a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/Safety/<%=footer.lang%>"><%=footer.ul2.li2%></a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/targetPopulation/<%=footer.lang%>"><%=footer.ul2.li3%></a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/Mechanism/<%=footer.lang%>"><%=footer.ul2.li4%></a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5><%=footer.h5_3%></h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/AboutUs/<%=footer.lang%>"><%=footer.ul3.li1%> </a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><%=footer.ul3.li2%></a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/privacy/<%=footer.lang%>"><%=footer.ul3.li3%></a></li>
                    <li class="mb-1"m><a class="link-secondary text-decoration-none" href="/terms/<%=footer.lang%>"><%=footer.ul3.li4%></a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>
