<%
let ar_text_alignment='', padding_20='', ar_flex='', padding_arabic  , ar_lu_style='';
if(lang==='ar'){
    ar_text_alignment='arabic_text';
    padding_arabic='paddingR-20';
    ar_flex='ar_justify_evenly';
    ar_lu_style='ar_ul';
}
%>

<div class="marginT-120"></div>
<div class="container <%=ar_text_alignment%>">
    <h1 class="txt"><%=resetPassword.h4_1%></h1>
    <div class="marginT-30"></div>
    <h6 style="color: #b4b3b3"><%=resetPassword.h6_1%></h6>
    <div class="marginT-30"></div>
    <small><%=resetPassword.small_1%></small>
    <div >
        <form method="post" action="/users/requestresetpassword" id="resetForm" class="<%=ar_text_alignment%>">
            <div class="form-group <%=ar_text_alignment%>">
                <input type="email" class="form-control <%=ar_text_alignment%>"  id="email" name="email" placeholder="<%=resetPassword.placeholder_1%>">
            </div>
            <button data-sitekey="6Lc5rtoaAAAAAE4kzLLdtW0XLnOpCGHMfuXACA0t"
                    data-callback='onSubmit'
                    data-action='submit'
                    type="submit"
                    class="btn btn-primary"><%=resetPassword.button_1%></button>
            <a href="<%= '/users/login/'+ lang  %>" id="lien"><%=resetPassword.a_1%> </a>
        </form>
    </div>
</div>

