<div class="container marginT-120">
    <div style="text-align: center">
        <h1><%= user.AccountType.toUpperCase() %> Dashboard</h1>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
        <p class="lead mb-3"> Welcome <%= user.name %></p>
    </div>

    <%- include('./partials/messages.ejs') %>

    <% if(user.AccountType === 'patient') { %>

        <%- include('./patient/patientDashboard') %>

    <% }else if(user.AccountType === 'doctor') {%>

        <%- include('./doctor/doctorDashboard') %>

    <% }else if(user.AccountType === 'admin') { %>

        <%- include('./admin/adminDashboard') %>

    <% } %>


</div>
