<div class="container fluid marginT-120">
    <div class="textAlignCenter">
        <h1 style="display: inline-block">Dashboard</h1>
        <a style="display: inline-block" href="/users/logout">Se déconnecter <i class="fas fa-sign-out-alt"></i></a>
    </div>
    <p class="lead mb-3 text-capitalize"> Welcome <%= user.name %></p>

    <%- include('./partials/messages.ejs') %>

    <% if(user.AccountType === 'patient') { %>

        <%- include('./patient/patientDashboard') %>

    <% }else if(user.AccountType === 'responsable') {%>

        <%- include('./responsable/responsableDashboard') %>

    <% }else if(user.AccountType === 'admin') { %>

        <%- include('./admin/adminDashboard') %>

    <% } %>


</div>
