<%
let ar_text_alignment='', padding_20='', ar_flex='', padding_arabic;
if(pageL.lang==='ar'){
    ar_text_alignment='arabic_text';
    padding_arabic='paddingR-20';
    ar_flex='ar_justify_evenly';
}
%>
<article>
    <div id="underNav" class="row">
        <div class="container ">
            <h1><%= pageL.undernav.text1 %></h1>
            <img id="map" src="/img/map.png" style="display:inline-block" alt="Map">
            <h3 style="display:inline-block; color: white"><%= pageL.undernav.text2 %></h3>
        </div>
        <div id="myCrousel" class="carousel slide" data-bs-ride="carousel">
            <div id="carouselImgs" class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/vaccination1.jpg" class="d-block w-100" alt="Vaccination">
                </div>
                <div class="carousel-item">
                    <img src="/img/vaccination2.jpg" class="d-block w-100" alt="Vaccination">
                </div>
                <div class="carousel-item">
                    <img src="/img/vaccination3.jpg" class="d-block w-100" alt="Vaccination">
                </div>
            </div>
        </div>
    </div>
</article>
<div class="marginT-30"></div>
<div class="container <%= ar_text_alignment%>" id="vcPortal">
    <%= pageL.vcPortal %>
</div>
<div id="main" class="container <%=ar_text_alignment%>">
    <h1 class="marginT-30 marginB-30 <%=padding_arabic%>"><%= pageL.main.h1 %></h1>
    <div class="row <%=ar_flex%>">
        <div class="shadow p-3 mb-5 bg-body rounded col-lg-5 col-sm-12 col-md-5 topleftborderraduis" id="rightMain1">
            <h3><%= pageL.main.rightMain1.h3 %></h3>
            <ol style="list-style: <%= lang === 'ar' ? "none" : ''%>">
                <li class="ar_text_alignment"><p class="fw-light">
                        <a href="/users/login/<%=lang%>" class="link-success"><%=pageL.main.rightMain1.li1_span1%></a>
                        <%=pageL.main.rightMain1.li1_1%>
                        <a href="/users/register/<%=lang%>" class="link-primary"> <%=pageL.main.rightMain1.li1_span2%></a>
                        <%=pageL.main.rightMain1.li1_2%>
                    </p>
                </li>
                <li><p class="fw-light"><%=pageL.main.rightMain1.li2%> <a href="/dashboard/<%=lang%>"><%=pageL.main.rightMain1.li2_span1%></a></p></li>
                <li><p class="fw-light"><%=pageL.main.rightMain1.li3%></p></li>
            </ol>
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class="marginT-30"></div>
        <div class="shadow p-3 mb-5 bg-body rounded col-lg-5 col-sm-12 col-md-5 topleftborderraduis " id="leftMain2">
            <h3><%= pageL.main.leftMain2.h3 %></h3>
            <p><%= pageL.main.leftMain2.p %></p>
            <a class="btn btn-primary" href="/users/survey/<%=lang%>"><%= pageL.main.leftMain2.a %></a>
        </div>
    </div>
    <div class="marginT-30"></div>
    <div class="row marginT-30">
        <div class="w-50 mx-auto">
            <h4 style="display: inline-block"><%= pageL.log.h4 %> </h4>
            <a
                    style="display: inline-block"
                    class="btn btn-success"
                    href="<%= '/users/login/'+ pageL.lang  %>"
            >
                <%= pageL.log.a %>
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>
    <div class="marginT-30"></div>
    <div class="row row-cols-1 row-cols-md-3 g-4" id="resources">
        <div class="col">
            <div class="shadow p-3 mb-5 bg-body rounded card resource">
                <div class="card-body textAlignCenter">
                    <h5 class="card-title"><i class="fas fa-shield-alt"></i></h5>
                    <p class="card-text"><a href="<%=  '/facts/' + pageL.lang%>  "><%= pageL.resources.p1 %></a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-body rounded card resource">
                <div class="card-body textAlignCenter">
                    <h5 class="card-title"><i class="fas fa-book"></i></h5>
                    <p class="card-text"><a href="/Ressource/<%=lang%>"><%= pageL.resources.p2  %></a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-body rounded card resource">
                <div class="card-body textAlignCenter">
                    <h5 class="card-title"><i class="fas fa-question"></i></h5>
                    <p class="card-text"><a href="<%=  '/Qstn/' + pageL.lang%> "><%= pageL.resources.p3 %></a></p>
                </div>
            </div>
        </div>
    </div>

</div>

