<%
let ar_text_alignment='', padding_20='', ar_flex='', padding_arabic  , ar_lu_style='';
if(lang==='ar'){
    ar_text_alignment='arabic_text';
    padding_arabic='paddingR-20';
    ar_flex='ar_justify_evenly';
    ar_lu_style='ar_ul';
}
%>

<div class="marginT-120"></div>

<h1 class="textAlignCenter"><%=Qstn.h1_1%></h1>
<div class="marginT-30"></div>
<div class="container">

    <h2 class="txt"><%=Qstn.h2_1%></h2>
    <div class="container <%= ar_text_alignment%>">
       <h5 <%=padding_arabic%>><%=Qstn.h5_1%></h5>
        <p class="lead"><%=Qstn.p_1%></p>
        <p class="lead"><%=Qstn.p_2%></p>
        <p class="lead"><%=Qstn.p_3%></p>
        <p class="lead"><%=Qstn.p_4%></p>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_2%></h5>
        <p class="lead"><%=Qstn.p_5%></p>
        <p class="lead"><%=Qstn.p_6%></p>
    </div>
    <h2 class="txt"><%=Qstn.h2_2%></h2>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_3%></h5>
        <p class="lead"><%=Qstn.p_7%></p>
        <p class="lead"><%=Qstn.p_8%></p>
        <p class="lead"><%=Qstn.p_9%></p>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_4%></h5>
        <p class="lead"><%=Qstn.p_10%></p>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h_5%></h5>
        <p class="lead"><%=Qstn.p_11%></p>
        <p class="lead"><%=Qstn.p_12%></p>
        <p class="lead"><%=Qstn.p_13%></p>

    </div>
    <h2 class="txt"><%=Qstn.h2_3%></h2>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_5%></h5>
        <p class="lead"><%=Qstn.p_14%></p>
        <p class="lead"><%=Qstn.p_15%></p>
    </div>
    <h2 class="txt"><%=Qstn.h2_4%></h2>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_6%></h5>
        <p class="lead"><%=Qstn.p_16%></p>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_7%></h5>
        <p class="lead"><%=Qstn.p_17%></p>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_8%></h5>
        <p class="lead"><%=Qstn.p_18%></p>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <p class="lead"><%=Qstn.p_19%></p>
        <ul class="<%=ar_lu_style%>" >
            <li ><%=Qstn.ul1.li1%></li>
            <li><%=Qstn.ul1.li2%></li>
            <li><%=Qstn.ul1.li3%></li>
            <li><%=Qstn.ul1.li4%></li>
        </ul>
    </div>
    <h2 class="txt"><%=Qstn.h2_5%></h2>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_10%></h5>
        <p class="lead"><%=Qstn.p_20%></p>
        <ul class="<%=ar_lu_style%>">
            <li ><%=Qstn.ul2.li1%></li>
            <li><%=Qstn.ul2.li2%></li>
        </ul>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_11%></h5>
        <p class="lead"><%=Qstn.p_21%></p>
        <ul class="<%=ar_lu_style%>">
            <li><%=Qstn.ul3.li1%></li>
            <li><%=Qstn.ul3.li2%></li>

        </ul>
        <p class="lead"><%=Qstn.p_22%></p>
    </div>
    <div class="container <%= ar_text_alignment%>">
        <h5><%=Qstn.h5_12%></h5>
        <p class="lead"><%=Qstn.p_23%></p>
    </div>

</div>



</div>