<%
let ar_text_alignment='', padding_20='', ar_flex='', padding_arabic  , ar_lu_style='';
if(lang==='ar'){
    ar_text_alignment='arabic_text';
    padding_arabic='paddingR-20';
    ar_flex='ar_justify_evenly';
    ar_lu_style='ar_ul';
}
%>



<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="textAlignCenter  "><%=Ressource.h1_1%></h1>
<div class="marginT-30"></div>
<div class="container <%=ar_text_alignment%>">



    <ul class="<%=ar_lu_style%>">
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/business-and-non-profit-resources"><%=Ressource.a_1%></a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/kids-and-school-resources"><%=Ressource.a_2%></a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/child-care"><%=Ressource.a_3%></a>
            </div>

        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/coronavirus-consumer-protection-0"><%=Ressource.a_4%></a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/faith-resources"><%=Ressource.a_5%></a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/food"><%=Ressource.a_6%></a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/healthcare-providers"><%=Ressource.a_7%></a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/housing-resources-coronavirus"><%=Ressource.a_8%></a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/node/1468781"><%=Ressource.a_9%></a>
            </div>
        </li>

    </ul>
</div>