<%
let ar_text_alignment='', padding_20='', ar_flex='', padding_arabic='', arLabel='', ar_ul='';
if(lang==='ar'){
    ar_text_alignment='arabic_text';
    padding_arabic='paddingR-20';
    ar_flex='ar_justify_evenly';
    arLabel = 'arabicLabel';
}
%>

<div class="marginT-120"></div>
<div class="container mt-5 <%=ar_text_alignment%> <%=arLabel%>">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form id="regForm" action="/users/survey" method="post">
                <h1 id="register"><%= fields.tab1.h1%></h1>
                <div class="all-steps" id="all-steps">
                    <span class="step"><i class="fas fa-thermometer-full"></i></span>
                    <span class="step"><i class="fas fa-heartbeat"></i></span>
                    <span class="step"><i class="fas fa-first-aid"></i></span>
                    <span class="step"><i class="fas fa-briefcase"></i></span>
                </div>
                <div class="tab">
                    <h6><%= fields.tab1.h6%></h6>
                    <fieldset id="ouiNomFever">
                        <div class="form-check">
                            <input class="form-check-input <%=ar_ul%>" name="fever" onclick="showHideInput(this.id)"
                                   type="radio" id="feverOui" value="0">
                            <label class="form-check-label" for="feverRate"><%= fields.tab1.yes%></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="fever" onclick="showHideInput(this.id)"
                                   type="radio" id="feverNon" value="-1" checked>
                            <label class="form-check-label" for="feverRate"><%= fields.tab1.no%></label>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset id="feverRate">
                        <div id="feverResponce" style="display:none; margin-left: 20px">
                            <div class="form-check">
                                <input class="form-check-input" name="feverRate" onclick="showHideInput(this.id)"
                                       type="radio" id="feverLow" value="1">
                                <label class="form-check-label" for="feverRate">
                                    Low
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="feverRate" onclick="showHideInput(this.id)"
                                       type="radio" id="feverMeduim" value="2">
                                <label class="form-check-label" for="feverRate">
                                    Meduim
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="feverRate" onclick="showHideInput(this.id)"
                                       type="radio" id="feverSever" value="3">
                                <label class="form-check-label" for="feverRate">
                                    Severe
                                </label>
                            </div>
                        </div>
                        <p class="degreesP">
                            <span class="greenColor"><%= fields.degrees.low%></span> <%= fields.degrees.description.low%><br>
                            <span class="orangeColor"><%= fields.degrees.meduim%></span> <%= fields.degrees.description.medium%><br>
                            <span class="redColor"><%= fields.degrees.severe%></span> <%= fields.degrees.description.sever%>
                        </p>
                    </fieldset>
                </div>

                <% fields.tabs.forEach(function (tab) { %>
                <div class="tab">
                    <h6><%= tab.question %></h6>
                    <% tab.symptoms.forEach(function (symptom) { %>
                    <div class="form-check">
                        <input class="form-check-input"
                               name="<%= symptom.name %>check"
                               onclick="showHideInput(this.id)"
                               type="checkbox" id="<%= symptom.name %>">
                        <label class="form-check-label" for="<%= symptom.name %>"><%= symptom.symp %></label>
                    </div>

                    <div id="<%= symptom.name %>Response" style="display:none; margin-left: 20px">
                        <fieldset>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input"
                                       name="<%= symptom.name %>"
                                       onclick="showHideInput(this.id)"
                                       id="<%= symptom.name %>Low" value="1">
                                <label class="form-check-label" for="<%= symptom.symp %>">
                                    <%= fields.degrees.low %>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="<%= symptom.name %>"
                                       onclick="showHideInput(this.id)" id="<%= symptom.name %>Meduim" value="2">
                                <label class="form-check-label" for="<%= symptom.symp %>">
                                    <%= fields.degrees.meduim %>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" type="radio"
                                       name="<%= symptom.name %>"
                                       onclick="showHideInput(this.id)" id="<%= symptom.name %>Sever" value="3">
                                <label class="form-check-label" for="<%= symptom.name %>">
                                    <%= fields.degrees.severe %>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <% }) %>
                    <p class="degreesP">
                        <span class="greenColor"><%= fields.degrees.low%></span> <%= fields.degrees.description.low%><br>
                        <span class="orangeColor"><%= fields.degrees.meduim%></span> <%= fields.degrees.description.medium%><br>
                        <span class="redColor"><%= fields.degrees.severe%></span> <%= fields.degrees.description.sever%>
                    </p>
                </div>
                <% }) %>

                <div class="thanks-message text-center" id="text-message">
                    <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Thankyou for your feedback!</h3> <span>Thanks for your valuable information. It helps us to improve our services!</span>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i
                                    class="fa fa-angle-double-left"></i></button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)"><i
                                    class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
                <button id="btnSubmit" hidden type="submit">Submit</button>
            </form>
        </div>

    </div>
</div>
<link href="/styles/survey.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
    var currentTab = 0;
    document.addEventListener("DOMContentLoaded", function (event) {
        showTab(currentTab);
    });

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
        } else {
            document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
        }
        fixStepIndicator(n);
    }

    function nextPrev(n) {
        var x = document.getElementsByClassName("tab");
        if (n == 1 && !validateForm()) return false;
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab >= x.length) {
            document.getElementById("nextprevious").style.display = "none";
            document.getElementById("all-steps").style.display = "none";
            document.getElementById("register").style.display = "none";
            document.getElementById("text-message").style.display = "block";
            // post the form
            $('#btnSubmit').click();
            $('#regForm').submit(function (a) {
                console.log(a)
            });
        }
        showTab(currentTab);
    }

    function validateForm() {
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].querySelectorAll('input[type="checkbox"]');
        let z = 0;
        for (i = 0; i < y.length; i++) {
            console.log(y[i].checked, currentTab + 1);
            if (!y[i].checked) {
                y[i].className += " is-invalid ";
            }
            if (!y[i].checked) z++;
        }
        if (z === 5 && currentTab + 1 === 2) {
            console.log("tab 2 not filled");
            valid = false;
            console.log(y[i])
            y[i].classList.add("is-invalid");
        }
        if (z === 10 && currentTab + 1 === 3) valid = false
        if (z === 4 && currentTab + 1 === 4) valid = false
        z = 1;
        if (!valid) {
            console.log(y[i])
            y[i].classList.add("is-invalid");
        }
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";

        }
        return valid;
    }

    function fixStepIndicator(n) {
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        x[n].className += " active";
    }</script>


<script>
    function showHideInput(id) {
        document.querySelectorAll('input').forEach(e => e.classList.remove("is-invalid"));
        if (id == 'feverOui') {
            console.log('oui fever');
            $('#feverResponce').show();
            $("#SymptomsNone").prop('checked', false);
        } else if (id == 'feverNon') {
            console.log('non fever');
            $('#feverResponce').hide();
        } else if (id == 'Pain') {
            if ($("#" + id).prop('checked')) {
                $('#PainResponse').show();
                $("#SymptomsNone").prop('checked', false);
            } else {
                $('#PainResponse').hide();
            }
        } else if (id == 'Redness') {
            if ($("#" + id).prop('checked')) {
                $('#RednessResponse').show();
                $("#SymptomsNone").prop('checked', false);
            } else {
                $('#RednessResponse').hide();
            }
        } else if (id == 'Swelling') {
            if ($("#" + id).prop('checked')) {
                $('#SwellingResponse').show();
                $("#SymptomsNone").prop('checked', false);
            } else {
                $('#SwellingResponse').hide();
            }
        } else if (id == 'Itching') {
            if ($("#" + id).prop('checked')) {
                $('#ItchingResponse').show();
                $("#SymptomsNone").prop('checked', false);
            } else {
                $('#ItchingResponse').hide();
            }
        } else if (id == 'SymptomsNone') {
            $('#PainResponse').hide();
            $('#RednessResponse').hide();
            $('#SwellingResponse').hide();
            $('#ItchingResponse').hide();
            $("#Redness").prop('checked', false)
            $("#Swelling").prop('checked', false)
            $("#Itching").prop('checked', false)
            $("#Pain").prop('checked', false)
        } else if (id == "Chills") {
            if ($("#" + id).prop('checked')) {
                $('#ChillsResponse').show();
            } else {
                $('#ChillsResponse').hide();
            }
        } else if (id == 'SymptomsNone2') {
            $('#ChillsResponse').hide();
            $('#HeadacheResponse').hide();
            $('#FatigueResponse').hide();
            $('#JointResponse').hide();
            $('#NauseaResponse').hide();
            $('#VomitingResponse').hide();
            $('#DiarrheaResponse').hide();
            $('#AbdominalResponse').hide();
            $('#RashResponse').hide();
            $("#Chills").prop('checked', false)
            $("#Headache").prop('checked', false)
            $("#Fatigue").prop('checked', false)
            $("#Joint").prop('checked', false)
            $("#Nausea").prop('checked', false)
            $("#Vomiting").prop('checked', false)
            $("#Diarrhea").prop('checked', false)
            $("#Abdominal").prop('checked', false)
            $("#Rash").prop('checked', false)
        } else if (id == "Headache") {
            if ($("#" + id).prop('checked')) {
                $('#HeadacheResponse').show();
            } else {
                $('#HeadacheResponse').hide();
            }
        } else if (id == 'Fatigue') {
            if ($("#" + id).prop('checked')) {
                $('#FatigueResponse').show();
            } else {
                $('#FatigueResponse').hide();
            }
        } else if (id == "Joint") {
            if ($("#" + id).prop('checked')) {
                $('#JointResponse').show();
            } else {
                $('#JointResponse').hide();
            }
        } else if (id == "Nausea") {
            if ($("#" + id).prop('checked')) {
                $('#NauseaResponse').show();
            } else {
                $('#NauseaResponse').hide();
            }
        } else if (id == "Vomiting") {
            if ($("#" + id).prop('checked')) {
                $('#VomitingResponse').show();
            } else {
                $('#VomitingResponse').hide();
            }
        } else if (id == "Diarrhea") {
            if ($("#" + id).prop('checked')) {
                $('#DiarrheaResponse').show();
            } else {
                $('#DiarrheaResponse').hide();
            }
        } else if (id == "Abdominal") {
            if ($("#" + id).prop('checked')) {
                $('#AbdominalResponse').show();
            } else {
                $('#AbdominalResponse').hide();
            }
        } else if (id == "Rash") {
            if ($("#" + id).prop('checked')) {
                $('#RashResponse').show();
            } else {
                $('#RashResponse').hide();
            }
        }
    }
</script>
