<div class="form-check">
    <input class="form-check-input" name="Pain" onclick="showHideInput(this.id)" type="checkbox" id="<%=symptoms.name%>">
    <label class="form-check-label" for="Pain"><%=symptoms.name%></label>
</div>

<div id="<%=symptoms.name%>Response" style="display:none; margin-left: 20px">
    <div class="form-check">
        <input class="form-check-input" name="<%=symptoms.name%>Low" onclick="showHideInput(this.id)" type="radio" id="<%=symptoms.name%>Low">
        <label class="form-check-label" for="<%=symptoms.name%>Low">
            Low
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input"  name="<%=symptoms.name%>Meduim" onclick="showHideInput(this.id)" type="radio" id="<%=symptoms.name%>Meduim">
        <label class="form-check-label" for="<%=symptoms.name%>Meduim">
            Meduim
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="<%=symptoms.name%>Sever" onclick="showHideInput(this.id)" type="radio"  id="<%=symptoms.name%>Sever" >
        <label class="form-check-label" for="<%=symptoms.name%>Sever">
            Severe
        </label>
    </div>
</div>
